
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Roboto&display=swap');


#main-header{

    background-image: url('assets/Background\ Image.png');
    background-repeat: repeat-x;
}


#person-img{
    width: 8in;
    height: 5.72in;
}
/* overlay  */
 #main-header::before{
    content: "";
    height: 100%;
    width: 100%;
    /* position: fixed; */
    background-color: rgba(5,19,69,1);
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    mix-blend-mode: soft-light;
    z-index:2 ;
    
}
/* #content{
    position: relative;
    z-index: 20;
    color: #fff;
} */
@font-face{
    font-family: 'navfont';
    src: url('fonts/MADE\ Tommy\ Soft\ Medium\ PERSONAL\ USE.otf')
            format('opentype');                              
}
nav{
    font-family: 'navfont';
    
    
}
ul>li{
    
    margin-right: 1em;
    padding: .5em;
}
h1{
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 2.3em;
    line-height: .9em;
    
    
}
h3{
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 17pt;
    
}

#by-now{

    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 14pt;
    
}

a{
    text-decoration: none;
    color: aliceblue;
    
   
}
a:hover{
    text-decoration: none;
    color: aliceblue;
}

p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}
#col-3{
    padding-top: 150px;
}
#col-1{
    padding-top: 120px;
}
.social{
    padding-top: 175px;
    padding-left: 30px;

}
/* .site{
    padding-top: 160px;
    font-family: 'Montserrat', sans-serif;
} */